#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.img {
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;
  opacity:100%;
}

.img.on {
  display: block;
}